
body {
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: normal;
  background: #f8f9fd;
  color: gray;
  background:  url('/static/img/patron.jpg');
  background-size: 30%;
}


.ftco-section {
  padding: 7em 0; }


.wrap {
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24); }


.text-wrap, .login-wrap {
  min-width: 50%;
}

.text-wrap {
  background: linear-gradient(rgba(71, 71, 71, 0.7), rgba(71, 71, 71, 0.7)), url('/static/img/index.jpg') no-repeat right;
  background-size: content;
  -webkit-background-size: content;
  -moz-background-size: content;
  -o-background-size: content;
  color: #fff; 
}


.login-wrap {
  position: relative;
  background: #fff; 
}

.login-wrap h3 {
  font-weight: 300; 
}


.form-group {
  position: relative; 
}

.form-group .label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
  font-weight: 700; 
}
  

div a {
  color: gray;
}

div a:active, div a:hover {
  color: gray;
  text-decoration:none;
}


.form-control {
  height: 48px;
  background: rgba(0, 0, 0, 0.05);
  color: #000;
  font-size: 16px;
  border-radius: 50px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid transparent;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; 
}


#logo {
  max-width: 40%;
  height: auto;
}


.btn {
  cursor: pointer;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 50px; 
}


.btn.btn-sucess {
  background: #94c045;
  border: 1px solid #94c045;
  color: #fff;
}


.btn.btn-sucess:hover {
  border: 1px solid #a6ca63;
  background: #a6ca63;
  color: #fff; 
}

.btn.btn-sucess:active{
  border: 1px solid #789248 !important;
  background: #789248 !important;
  color: #fff;
}

    
.btn.btn-white {
  background: #fff;
  border: 1px solid #fff;
  color: #fff; 
}

.btn.btn-white:hover {
  border: 1px solid #fff;
  background: transparent;
  color: #fff; 
}

.btn.btn-white.btn-outline-white {
  border: 1px solid #fff;
  background: transparent;
  color: #fff; 
}

.btn.btn-white.btn-outline-white:hover {
  border: 1px solid transparent;
  background: #fff;
  color: #000; 
}
