{% extends "NaturadietApp/base.html" %}

{% block content %}
<main id="main">

    <!-- ======= Migas de Pan ======= -->
    <section class="migas">
		<div id="fondo" class="miga-principal">
			<div class="container">
				<h2>Noticias</h2>
				<p>Artículos sobre nutrición, salud y deporte. <br>Artículos para aprender a llevar un estilo de vida saludable. </p>
			</div>
		</div>
		<div class="container">
			<ol>
				<li><a href="{% url 'Home' %}">Home</a></li>
				<li>Noticias</li>
			</ol>
		</div>
    </section>
    <!-- ======= Fin Migas ======= -->


    <!-- ======= Categorias Noticias ======= -->
    <div class="d-flex justify-content-around align-items-center categoria">
		<div>
			{% for categoria in categorias %}
				<a class="btn btn-outline-secondary mb-2 mr-3 ml-3" href="{% url 'Categoria' categoria.nombre %}" role="button">{{ categoria.nombre }}</a>
			{% endfor %}
		</div>
    </div>
    <!-- ======= Fin Categorias Noticias ======= -->



    <!-- ======= Lista Noticias ======= -->
    <section id="blog" class="blog">
		<div class="container">

			<hr class="mb-4 mt-0 ">

			<div class="row">
			{% for noticia in noticias %}
				<div class="col-lg-4 col-md-6 d-flex align-items-stretch">

					<!-- ======= Imagen ======= -->
					<div class="card entrada">
						<div class="entrada-img">
							<img src="{{ noticia.imagen.url }}" alt="" class="img-fluid">
						</div>
						
						<div class="card-body">
							<!-- ======= Titulo ======= -->
							<h2 class="entrada-titulo">
								<a href="{% url 'Noticia' noticia.id_noticia %}">{{ noticia.titulo }}</a>
							</h2>

							<!-- ======= Tags ======= -->
							<div class="entrada-meta">
								<ul>
									<li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="">{{ noticia.usuario }}</a></li>
									<li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="">{{ noticia.created | date:"d M, Y" }}</a></li>
								</ul>
							</div>

							<!-- ======= Subtitulo ======= -->
							<div class="entrada-contenido">
								<p>{{ noticia.subtitulo }}</p>
							</div>

						</div>

						<!-- ======= Leer Más ======= -->
						<div class="card-footer">
							<div class="read-more">
								<a  href="{% url 'Noticia' noticia.id_noticia %}">Leer más</a>
							</div>
						</div>

					</div>
					<!-- ======= Fin noticia ======= -->
				</div>
			{% endfor %}
			</div>

			{% include "NaturadietApp/paginacion.html" %}
			
		</div>
    </section>
	<!-- ======= Fin Lista Noticias ======= -->

  </main>

{% endblock %}
