{% extends "NaturadietApp/base.html" %}

{% block content %}
<main id="main">
    
    <!-- ======= Migas de Pan ======= -->
    <section class="migas">
		<div id="fondo" class="miga-principal">
			<div class="container">
				<h2>Productos</h2>
				<p>Todos los Productos de <br>nuestro sitio a tu alcance. </p>
			</div>
		</div>

		<div class="container">
			<ol>
				<li><a href="{% url 'Home' %}">Home</a></li>
				<li>Productos</li>
			</ol>
		</div>
    </section>
    <!-- ======= Fin Migas ======= -->



    <section id="blog" class="blog">
      	<div class="container">

			<!-- ======= Mensajes ======= -->
			{% if messages %}
				{% for message in messages %}
				<div class="alert alert-warning alert-dismissible fade show {{ message.tags }} text-center" role="alert">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				{% endfor %}
			{% endif %}
        	<!-- ======= Mensajes ======= -->


			<!-- ======= Categorias Productos ======= -->
			<div class="d-flex justify-content-center align-items-center categoria">
				<div>
					{% for categoria in categorias %}
						<a class="btn btn-outline-secondary mb-2" href="{% url 'CategoriaProducto' categoria.nombre %}" role="button">{{ categoria.nombre }}</a>
					{% endfor %}
				</div>
			</div>
			<!-- ======= Fin Categorias Productos ======= -->

        	<hr class="mb-4 mt-0 ">

			<!-- ======= Lista Productos ======= -->
        	<div class="row">
          
				{% for producto in productos %}
					<div class="col-lg-4 col-md-6 d-flex align-items-stretch">

						<!-- ======= Producto ======= -->
						<div class="card entrada">

							<!-- ======= Imagen ======= -->
							<div class="entrada-img">
								<img src="{{ producto.imagen.url }}" alt="" class="img-fluid">
							</div>
							
							<!-- ======= Titulo ======= -->
							<div class="card-body">
								<h2 class="entrada-titulo">
									<a>{{ producto.nombre }}</a>
								</h2>

								<!-- ======= Tags ======= -->
								<div class="entrada-meta">
									<ul>
										<li class="d-flex align-items-center"><i class="icofont-tags"></i> <a href="{% url 'CategoriaProducto' producto.categoria %}">{{ producto.categoria }}</a></li>
									</ul>
								</div>

								<!-- ======= Descripcion ======= -->
								<div class="producto-contenido">
									<hr/>
									<p>{{ producto.descripcion | safe}}</p>
								</div>
							</div>

							<!-- ======= Precio y Boton ======= -->
							<div class="card-footer">
								<div class="read-more">
									<p><button type="button" class="btn btn-outline-secondary">{{ producto.precio }}&nbsp;€</button></p>
									<a  class="btnAgregar" href="{% url 'Agregar' producto.id_producto %}">Agregar</a>
								</div>
							</div>
						</div>
						<!-- ======= Fin Producto ======= -->
					</div>
				{% endfor %}
        	</div>
			<!-- ======= Fin Lista productos ======= -->

			<!-- ======= Paginación ======= -->
        	{% include "NaturadietApp/paginacion.html" %}

      	</div>
    </section>

  </main>


{% endblock %}
